#carouselExampleDark {
  max-width: 800px; /* Set the maximum width for the carousel */
  margin: 0 auto; /* Center the carousel */
}

.carousel-inner {
  border-radius: 10px; /* Optional: Add border-radius to the carousel inner content */
}

.carousel-item img {
  border-radius: 10px; /* Optional: Add border-radius to the carousel images */
  height: 400px;
  object-fit: contain; /* Ensure the images cover the entire carousel item */
}

.carousel-caption {
  background-color: rgba(
    0,
    0,
    0,
    0.4
  ); /* Set a semi-transparent background for the captions */
  border-radius: 10px; /* Optional: Add border-radius to the captions */
  padding: 10px; /* Add some padding to the captions */
  text-align: center; /* Center the text in the captions */
}
h2 {
  text-align: center;
  padding-top: 15px;
  padding-bottom: 10px;
  color: white;
}
h1 {
  color: white;
}
p {
  color: white;
}

h2:hover {
  color: yellow;
}
