body {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
}

#homeimage {
  height: calc(100vh - (height of header + height of footer));
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.image {
  max-height: 100%;
  width: auto;
}

@media (max-width: 768px) {
  .image {
    max-height: 70vh;
  }

  @media (max-width: 576px) {
    .image {
      max-height: 50vh;
    }

    #featured-products .carousel-inner {
      flex-wrap: wrap;
    }

    #featured-products .carousel-item {
      flex: 0 0 100%;
    }

    #featured-products .card {
      margin: 10px 0;
      width: 100%;
      max-width: none;
    }

    .featured-products h1 {
      font-size: 1.5rem;
    }

    #featured-products .card-img-top {
      height: 150px;
    }
  }
}

#featured-products .carousel-inner {
  display: flex;
  align-items: center;
}

#featured-products .carousel-item {
  flex: 0 0 100%;
}

#featured-products .card {
  margin: 10px;
  border: none;
  transition: all 0.3s ease;
  width: 100%;
  max-width: 300px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

#featured-products .card:hover {
  transform: translateY(-10px);
  box-shadow: 0px 12px 20px rgba(0, 0, 0, 0.2);
}

#featured-products .card-img-top {
  height: 200px;
  object-fit: cover;
}

#featured-products .card-title {
  font-size: 1.2rem;
  font-weight: bold;
}

#featured-products .card-price {
  color: #ff9800;
  font-size: 1rem;
}

#featured-products .card-text {
  margin-top: 5px;
}

#featured-products .card-footer {
  background-color: #f9f9f9;
  padding: 10px;
}

#featured-products .btn-warning {
  background-color: #ff9800;
  color: white;
  border: none;
}

#featured-products .btn-warning:hover {
  background-color: #23a8d4;
}

.featured-products h1:hover {
  color: #d6b017;
}
.carousel-inner {
  background-color: lightblue;
}
.featured-products h1 {
  background-color: white;
  padding: 10px;
  color: black;
  border-radius: 5px;
}
